.grid-filter-column {
    display: flex;
    max-width: 1500px;
    padding: 3% 0%;
    margin: auto;
    gap: 50px;
}


.product-filter-section {
    padding: 10px;
    width: 350px;
}


.product-view-sort {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}